// _google.scss

// ==========================
// GOOGLE BUTTONS
// ==========================
.button.google {
	// Boton Azul (Default)
	padding: 10px 30px;
	border: solid 1px #3079ed;
	@include border-radius( 2px 2px );
	background: #4d90fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #4d90fe 0%, #4787ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d90fe), color-stop(100%,#4787ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* IE10+ */
	background: linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d90fe', endColorstr='#4787ed',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	font-weight: 400;
	text-transform:uppercase;
	font-size:11px;
	line-height: 1;
	@include transition( all .218s linear );
	&:hover {
		border: 1px solid #2f5bb7;
		background: #4d90fe; /* Old browsers */
		background: -moz-linear-gradient(top,  #4d90fe 0%, #357ae8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d90fe), color-stop(100%,#357ae8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* IE10+ */
		background: linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* W3C */ 
	}
	&:active {
		border: 1px solid #377cea;
		@include box-shadow( inset 0 0 2px 2px #377cea, 0 1px 0 0 #aaa );
	}
	&:focus {
		outline: 0;
	}

	// Boton Gris (.gray)
	&.gray {
		padding: 10px 10px;
		@include border-radius( 2px 2px );
		border: solid 1px #dadada;
		background: #f4f4f4; /* Old browsers */
		background: -moz-linear-gradient(top,  #f4f4f4 0%, #f1f1f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f4f4f4 0%,#f1f1f1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f4f4f4 0%,#f1f1f1 100%); /* IE10+ */
		background: linear-gradient(top,  #f4f4f4 0%,#f1f1f1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
		color: #555;
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		font-weight:700;
		@include text-shadow( 0px 1px 1px rgba(255,255,255,1) );
		line-height: 1;
		font-size:11px; 
		&:hover {
			color: #222;
			border:1px solid #c6c6c4;
			background: #f8f8f8; /* Old browsers */
			background: -moz-linear-gradient(top,  #f8f8f8 0%, #f1f1f1 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* IE10+ */
			background: linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* W3C */ }
		&:active {
			border:1px solid #c6c6c4;
			color: #222;
			@include box-shadow( inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee );
		}
	} // Boton Gris (.gray)

	// Boton Rojo (.red)
	&.red {
		padding: 10px 30px;
		@include border-radius(2px 2px);
		/*border: solid 0px rgb(153, 153, 153);*/
		border: solid 1px transparent;
		background: #d64937; /* Old browsers */
		background: -moz-linear-gradient(top,  #d64937 0%, #d14836 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d64937), color-stop(100%,#d14836)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d64937 0%,#d14836 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d64937 0%,#d14836 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d64937 0%,#d14836 100%); /* IE10+ */
		background: linear-gradient(top,  #d64937 0%,#d14836 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64937', endColorstr='#d14836',GradientType=0 ); /* IE6-9 */
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		font-weight:700;
		text-transform:uppercase;
		font-size:11px;
		line-height: 1;
		&:hover {
			border: 1px solid #b0281a;
			background: #dd4b39; /* Old browsers */
			background: -moz-linear-gradient(top,  #dd4b39 0%, #c53727 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd4b39), color-stop(100%,#c53727)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* IE10+ */
			background: linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* W3C */ }

		.button.red:active, .gcb-button.red:active, input[type=submit].red:active {
			border: 1px solid #b0281a;
			@include box-shadow( inset 0 0 8px 4px rgb(197, 55, 39), 0 1px 0 0 #eeeeee );
		}
	} // Boton Rojo (.red)

	// Botones Desactivados
	&.disabled, &[disabled] {
		background: none;
		background-image: -moz-linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.14));
		background-image: -webkit-linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.14));
		background-image: linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.14));
		border-color: #f3f3f3;
		color: #b8b8b8; 
		opacity: 0.65;
		cursor: default;
		&:hover, &:focus {
			border-color: #f3f3f3;
			outline: none;
		}
	} // Botones Desactivados
}