// _buttons.scss

// =================
// CONFIGURACION
// =================
$button-height: 			32px;
$button-font-size:			13px;
$button-offset: 			$col-offset;
$button-radius:				0px;
$button-pressed-offset:		0px;
$button-border-width:		0; // $button-pressed-offset;
$button-default-bg:			$black_90;
$button-default-text:		$text-color;
$button-transition-time:	$transition-speed; // config.scss
$button-colors:				$buttons-color-pallete;	// colors.scss

$button-has-box-shadow:		false;
$button-has-text-shadow:	false;


// =======================
// BUTTON COLORS
// =======================
$shadow-alpha: 				0.8;
$percent:					20%;
$dark-button-text-color:	$black_97;

@mixin button-color( $name, $color ) {
	&.#{$name} {
		@if lightness($color) > lightness(#aaa) {
			color: $text-color;
		} @else {
			color: $dark-button-text-color;
		}

		// Compass stable release
		// ============================
		// - Gradient Button
		// @include background-image(linear-gradient( center top, $color, darken($color, 10%) ) );
		
		// Compass 1.0.0 ALPHA
		// ============================
		// - Gradient Button
		// @include background( linear-gradient( 180deg, $color, darken($color, 10%) ) );
		
		// - Flat Button
		@include background( $color );

		@if ( $button-has-box-shadow ) {
			// border-color: darken( $color, 15% );
			@include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) ); }
		@if ( $button-has-text-shadow ) {
			// @include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) );
			@include text-shadow( 0px 1px 0px rgba( darken( $color, $percent ), $shadow-alpha ) ); }
		&:hover { 
			@include background( darken($color, 10%) );
		}
		&:active, &.active {
			@if ( $button-has-box-shadow ) {
				@include box-shadow( inset 0 3px 0px 0px darken( $color, 15% ) ); }
		}
	}
}
@mixin button-group-color( $name, $color ) {
	&.#{$name} {
		.button {
			@if lightness($color) > lightness(#aaa) {
				color: $text-color;
			} @else {
				color: $dark-button-text-color;
			}
			@include background( $color );
			// border-color: darken( $color, 15% );
			@if ( $button-has-box-shadow ) {
				@include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) ); }
			@if ( $button-has-text-shadow ) {
				@include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) ); }
			&:hover { 
				@include background( darken( $color, 10% ) );
			}
			&:active { 
				@if ( $button-has-box-shadow ) {
					@include box-shadow( inset 0 3px 0px 0px darken( $color, 15% ) ); }
			}
		}
	}	
}
// Clear button hover colors
@mixin clear-hover-color( $name, $color ) {
	&.#{$name} {
		@include transition( 
			background $button-transition-time ease,
			text-shadow $button-transition-time ease 
		);
		// @include transition( box-shadow $button-transition-time ease );
		&:hover {
			@if lightness($color) > lightness(#aaa) {
				color: $text-color;
			} @else {
				color: $dark-button-text-color;
			}
			@include background( $color );	
			@if ( $button-has-text-shadow ) {
				@include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) ); }
			// @if ( $button-has-box-shadow ) {
				// @include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) ); }
		}
	}
}


// ==========================
// COLORES
// ==========================
// Botones comunes
.button {
	@each $single-color in $button-colors {
		@include button-color( nth($single-color, 1), nth($single-color, 2) );
	}
}
// Botones sin fondo
.button.clear {
	&.hover { // ES CLASE, NO PSEUDO HOVER!
		@each $single-color in $button-colors {
			@include clear-hover-color( nth($single-color, 1), nth($single-color, 2) );
		}
	}
}
// Link button colors
.button.link {
	@include text-shadow(none);
	@each $single-color in $button-colors {
		&.#{nth($single-color, 1)}	{ color: nth($single-color, 2); }
	}
}
// Botones en grupo
.button-group {
	@each $single-color in $button-colors {
		@include button-group-color( nth($single-color, 1), nth($single-color, 2) );
	}
}


// =================
// BUTTON SIZES
// =================
.button {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: $button-offset;
	padding-right: $button-offset;
	&.slim {
		padding-left: $button-offset / 2;
		padding-right: $button-offset / 2;		
	}
	&.medium {
		padding-left: $button-offset * 1.25;
		padding-right: $button-offset * 1.25;
		font-size: 16px;
		line-height: 40px;
	}
	&.large {
		padding-top: $button-offset / 1.75;
		padding-bottom: $button-offset / 1.75;
		padding-left: $button-offset;
		padding-right: $button-offset;
		font-size: 24px;
		font-weight: 300;
		line-height: 20px;
	}
	&.big {

	}
}


// ==========================
// BUTTON GROUP
// ==========================
.button-group {
	padding: 0;
	margin: 0;
	line-height: $button-height;
	background: transparent;
	// A simple button inside the group
	.button {
		border-right: none;
		@include border-radius( 0 );
		&:first-child { 
			@include border-radius( $button-radius 0 0 $button-radius ); 
		}
		&:last-child { 
			// border-right-width: 3px;
			// border-right-style: solid;
			@include border-radius( 0 $button-radius $button-radius 0 ); 
		}
		a, button {
			display: block;
			padding-left: $offset;
			padding-right: $offset;
		}
		&:active {
			// margin-left: -$button-pressed-offset; // Para ocultar el espacio en blanco que genera el translate3d en el eje X que tienen los .button
		}
	}
	// And if the button is a link?
	a.button, button.button {
		display: block;		
	}
	// What happens if the group turns vertical?
	&.vertical, &.v {
		.button {
			float: none;
			@include border-radius( 0 );
			// &:first-child { @include border-radius( $button-radius $button-radius 0 0 ); }
			// &:last-child { @include border-radius( 0 0 $button-radius $button-radius ); }			
		}
	}
}

// =================
// EL BOTON
// =================
.button {
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	line-height: em($button-height);
	font-size: $button-font-size; // 0.9em
	border: 0;
	cursor: pointer;
	@include background( $button-default-bg );
	color: $button-default-text;
	@if ( $button-has-box-shadow ) {
		@include box-shadow( 0 $button-border-width 0 0 darken($button-default-bg, 25%) ); }
	@include border-radius( $button-radius );
	@include transition( background $button-transition-time ease );
	*zoom: 1;
	&:hover, &:active {
		background: darken($button-default-bg, 10%);		
	}
	&:active, &.active {
		@include transform( translateY( $button-pressed-offset ) );
		@include box-shadow( none );
	}
	&:focus {
		outline: none;
	}
	&[disabled], &.disabled {
		color: #999;
		@include background( #f1f1f1 );
	}
	// Boton sin background
	&.clear {
		color: $text-color;
		&:active, &.active {
			@include transform( none );
		}
	}
	// No Style Button
	&.link {
		padding: 0;
		line-height: inherit;
		font-size: 0.9em;
	}
	&.clear, &.link {
		height: auto;
		outline: none;
		border: 0;
		@include background( transparent );
		@include box-shadow( none );
		@include text-shadow( none );
		&:hover {
			text-decoration: none;
			@include background( transparent );
		}
		&:active {
			@include transform( none );
		}
		&[disabled], &.disabled {
			text-decoration: none;
			color: #999;
		}
	}
	&, a, button {	}
	// ALIGN
	&.inline-block { 
		float: none;
		display: inline-block; 
	}
	&.inline { 
		float: none;
		display: inline; 
	}
}


// ============================
// BOTON CON F-ICON DENTRO
// ============================
.button {
	.ficon {
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		top: 0.05em;
		margin-right: 0.1em;
		-webkit-font-smoothing: antialiased;
	}
}