// _code.scss

pre, code {
	font-family: $courrier;
}

pre {
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: pre-wrap;       /* css-3 */
	@include border-radius(5px);
	@include background( hsl(0, 0, 90%) );
	@include transition( all $transition-speed );
	border: 1px solid hsl(0, 0, 70%);
	padding: 10px 12px;
	overflow: auto;
	text-align: left;
	&:hover {
		position: relative;
		z-index: 99;
		@include box-shadow( 0 0 5px 1px $cyan );
	}
}