// _input.scss

$input-height: 			2em;
$input-padding-y:		round($input-height - ($input-height / 2)) / 2;
$input-line-height: 	round($input-height - ($input-height / 2));

// INPUTS
input, select, textarea 
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
// BUTTONS
button[type="submit"],
button[type="search"]
{
	-webkit-appearance: none;
	position: relative;
	width: auto;
	font-size: 0.9em;
	font-weight: 300;	
	border: 1px solid $gray-border;
	background: #FFF;
	padding-top: $input-padding-y;
	padding-bottom: $input-padding-y;
	padding-right: $col-offset;
	padding-left: $col-offset;
	@include box-shadow( none );
	@include border-radius( 5px );
	@include placeholder {
		color: hsl(0, 0, 60%);
	}
	&:focus { 
		outline: none; 
	}

}
input, select {
	line-height: $input-line-height;	
}
select {
	height: $input-height;
}
input {

}


// ================================
// REQUIREMENTS AND INFO
// ================================
sup, .sup {
		top: 0;
		color: $red;
		font-size: 14px;
	}
.q {
	position: relative;
	bottom: 3px;
	color: $gray-border;
	font-size: 10px;
	font-weight: 600;
}


// ================================
// RADIO AND CHECK BUTTONS
// ================================
input[type="radio"],
input[type="checkbox"] {
	width: 16px;
	height: 16px;
	&:checked {
		// border: 4px solid white;
		// background-color: $gray-dark;			
	}
}


// ================================
// INPUT STRUCTURE
// ================================
$input-offset:	1em;
.input-row {
	margin-bottom: $input-offset;
	@include clear;
	.label-title {
		color: $text-color;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.input-box {
	padding-top: $input-offset;
}


// ================================
// INPUT GROUP
// ================================
.input-group {
	input, button, textarea, select {
		&:first-child {
			@include border-radius( $button-radius 0 0 $button-radius );
			border-right: none;
		}
		&:last-child {
			@include border-radius( 0 $button-radius $button-radius 0 );
			border-left: none;
		}
	}
}


// ================================
// ESTADOS
// ================================
[onclick], [mouseover], [mouseout] {
	cursor: pointer;
}
[disabled], [disable] {
	cursor: default;
}