// _lightbox.scss

// _lightbox.scss

##{$bodoke-prefix}-blackout {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	@include bdk-background( black, 0.5);
	// @include bdk-background( white, 0.8);
	@include transition(all $transition-speed ease);
}

// This activate the blackout
body.#{$bodoke-prefix}-lightbox-active {
	overflow: hidden;
	##{$bodoke-prefix}-blackout { 
		display: block; 
	}
}

.#{$bodoke-prefix}-lightbox {
	display: none;
	position: absolute;
	right: 0;
	width: 100%;
	background: white();
	@include opacity(1);
	@include border-radius(0 0 3px 3px);
	@include box-shadow(
		0 0 14px 0 black(0.75),
		0 3px 0 0 rgba($red, 0.9)
	);
	// padding-top: $col-offset * 2;
	// padding-bottom: $col-offset * 3;
	// padding-right: $col-offset * 3;
	// padding-left: $col-offset * 3;
	.close {
		$close-icon-size: 32px;
		position: absolute;
		right: -$close-icon-size / 2;
		top: -$close-icon-size / 2;
		width: $close-icon-size;
		height: $close-icon-size;
		text-align: center;
		border: 1px solid #FAFAFA;
		cursor: pointer;
		@include border-radius(50%);
		@include box-shadow( 0 1px 1px 0 black(0.6) );
		@include bdk-background( black, .9);
		@include fa {
			font-size: ($icon-size / 2) + 2px;
			line-height: $close-icon-size - 2px;
			display: block;
			color: white;
		}
	}
}








