/* 
* _netbook.scss
* Resoluciones hasta 600px de alto
*/

// Aca hay que incluir como un @mixin todas las reglas
// que deban funcionar en resoluciones menores a 600px de alto
// Ej.: @include media-netbook-footer;

// ======================================================================
