//
// _helpers.scss
// Helper clases
// 

.loading {
	background-image: img('preloader.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	height: 100%;
	position: relative;
	min-height: 32px * 2;
	&:before {
		// content: 'Loading...'!important;
		position: absolute!important;
		height: 20px;
		margin: auto;
		top: 0;
		left: 0; right: 0; bottom: 0; top: 80px;
		width: 100px!important;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
	.fade-container {
		opacity: 1;
		position: relative;
		min-height: 300px;
	}
}



// ====================
// ERRORS
// ====================
// bdk-error
$error-arrow-directions: ('up', 'right', 'down', 'left');
.#{$bodoke-prefix}-error {
	z-index: 100;
	.error-panel {
		position: relative;
		@include transition( opacity $transition-speed ease );
		@include border-radius( 5px );
		@include transition( background $transition-speed ease );
		// Fondo por default
		background-color: hsl(0, 0, 80%); 
		// Colores para el alert/error
		@each $alert in $alerts-color-pallete {
			&.#{nth( $alert, 1 )} {
				background-color: nth($alert, 2);
				// Flechitas
				&.arrow {
					@each $direction in $error-arrow-directions {
						&.#{$direction} {
							@include arrow(nth($alert, 2), 8px, $direction);					
						}
					}
				}
			}
			.message {
				@if lightness( nth($alert,2) ) > lightness(#aaa) {
					color: $text-color;
				} @else {
					color: white();
				}
			}
		}

		.message {
			width: 100%;
			margin: 0;
			padding-top: $col-offset;
			padding-bottom: $col-offset;
			text-align: center;
			font-family: $courrier;
			font-weight: 300;
			font-size: 12px;
			line-height: 14px;
		}
	}
}

// ====================
// HELPERS
// ====================



// =============================
// ALIGNMENT CLASSES
// =============================
.float-left, .left { float: left!important; }

.float-right, .right { float: right!important; }

.center {
	display: block!important;
	margin-left: auto;
	margin-right: auto;
	float: none!important;
}
.a-center {
	display: block;
	position: absolute!important;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto!important;
	float: none!important;
}
.v-center {
	display: block;
	position: absolute;
	top: 0; right: auto; bottom: 0; left: auto;
	margin: auto;
	float: none;
}



// ====================
// TEXT
// ====================
.inline {
	display: inline;
	float: none;
}
.strong, .bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.center-text {
	text-align: center;
}
.right-text {
	text-align: right; 
}
.left-text {
	text-align: left; 
}



// =============================
// OBJECT BEHAVIOR
// =============================
.block {
	display: block;
}
.inline-block {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.clear-both {
	clear: both;
	float: none;
}



// ==============================
// OBJECT VISIBILITY
// ==============================
.none, [hidden], .hidden, .hide, .no-desktop {
	display: none!important;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}


.invisible {
	visibility: hidden;
}

.visuallyvisible {
	clip: auto;
	width: auto;
	height: auto;
	overflow: visible;
	left: 0;
}
.fh, .full-height {
	height: 100%;
}



// ====================
// IMAGES
// ====================



// ====================
// Micro Clearfix
// ====================
.clear, .clearfix {
	*zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}



// ====================
// CAJAS DE COLORES
// ====================
.panel {
	position: relative;
	background-color: $black_95;
	border: 1px solid hsl(0, 0, 90%);
	@include border-radius( 5px );
	padding-top: $col-offset / 2;
	padding-bottom: $col-offset / 2;		
	padding-left: $col-offset / 2;
	padding-right: $col-offset / 2;		
	&.cols, &.cols, &.column, &.columns {
		padding-left: $col-offset;
		padding-right: $col-offset;
	}
}
@include mobile() {
	.panel {
		&.cols, &.cols, &.column, &.columns {
			padding-left: $m-offset;
			padding-right: $m-offset;
		}
	}
}


// Alert
.alert {
	display: block;
	// background-color: #ffc;
	// padding: 8px;
	// @include border-radius( 5px );
}
@each $alert in $alerts-color-pallete {
	.#{nth( $alert, 1 )} {
		background-color: nth($alert, 2);
		@if lightness( nth($alert,2) ) > lightness(#aaa) {
			color: $text-color;
		} @else {
			color: white();
		}
	}
}




// ==========================================================================
// Tablet Devices (Layout, Modifications, etc)
// ==========================================================================
@media only screen and (min-width: 720px) and (max-width: 999px) {
	
}